@font-face {
    font-family: Torus;
    font-weight: 600;
    src: url(../fonts/TorusBold.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 700;
    src: url(../fonts/TorusHeavy.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 500;
    src: url(../fonts/TorusSemiBold.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 400;
    src: url(../fonts/TorusRegular.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 300;
    src: url(../fonts/TorusLight.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 200;
    src: url(../fonts/TorusThin.otf);
}

:root {
    --primary-1: #171a1f;
    --primary-2: #2e3440;
    --primary-3: #3b4252;
    --primary-4: #434c5e;
    --primary-5: #4c566a;
    --accent-1: #88c0d0;
    --text-1: #d8dee9;
}

body {
    width: 100vw;
    min-height: 100dvh;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    overflow: hidden;
    /* background-image: url(../higuchimadoka.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* flex-wrap: wrap; */
    background-color: var(--primary-2);
    font-family: Torus;
    font-weight: 500;
    color: white;
    font-size: 16px;
    overflow-y: overlay;
    overflow-x: hidden;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#main {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    /* transform: scaleY(-1);   */

    background-color: rgb(0 0 0 /0.5);
    /* z-index: -1; */

    backdrop-filter: blur(5px);
}
#main img {
    display: none;
}

.timelineContainer {
    position: relative;

    width: 100%;
    height: 80px;

    background: rgba(0 0 0 / 0.5);
    border-radius: 10px;

    margin-bottom: 10px;
    overflow: hidden;

    display: flex;

    transition: ease-out 100ms;
}

.zoom {
    height: 100%;
    width: 40px;

    background-color: var(--primary-5);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;

    padding: 10px;
    box-sizing: border-box;
}

.zoom img {
    width: 18px;
    height: 18px;
}

.zoom button {
    border-radius: none;
    padding: 0;

    height: 18px;
}

.timeline {
    flex: 1;
}

#inputContainer {
    position: relative;

    margin-bottom: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    box-sizing: border-box;

    /* display: none; */
}

.legacyPart {
    position: relative;
    flex: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    box-sizing: border-box;
}

#inputWrapper {
    position: relative;
    /* width: 300px; */
    flex: 1;
    height: 40px;
}

#inputContainer input[type="text"] {
    appearance: none;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    padding: 20px;

    font-family: Torus;
    color: white;

    border: none;
    background-color: rgba(0 0 0 /0.5);
    border-radius: 10px;
    outline: solid 2px var(--accent-1);
}

#inputWrapper::before {
    content: "enter beatmap id or url (not beatmapset)";
    position: absolute;

    left: 10px;

    font-weight: 500;
    font-size: 0.7rem;

    /* height: 10px; */
    color: var(--text-1);

    padding: 2px 10px;

    transition: ease-in-out 200ms;
    pointer-events: none;

    border-radius: 5px;
}

#inputWrapper:has(input[type="text"]:placeholder-shown)::before {
    top: 12px;
    font-size: 0.7rem;
}

#inputWrapper:has(input[type="text"]:not(:placeholder-shown))::before,
#inputWrapper:has(input[type="text"]:focus)::before {
    top: -10px;
    font-size: 0.6rem;
    background-color: var(--primary-1);

    /* outline: solid 2px var(--accent-1); */
}

#inputContainer input[type="text"]:focus {
    outline: solid 3px var(--accent-1);
}

#inputContainer button:nth-child(3),
#inputContainer button:nth-child(4) {
    width: 80px;
    height: 40px;

    background-color: var(--primary-3);

    font-family: Torus;
    font-weight: 500;
    color: white;

    border-radius: 10px;
    transition: ease-in-out 200ms;
}

#inputContainer button:nth-child(3):hover,
#inputContainer button:nth-child(4):hover {
    filter: none;
    background-color: var(--primary-5);
}

#settingsButton {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: auto;

    background-image: url(../static/settings.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;

    transition: ease-in-out 50ms;
}

svg {
    display: none;
}

.utilRow {
    display: flex;
    gap: 10px;
}

#map-dropper {
    position: relative;
    color: transparent;
    aspect-ratio: 1 / 1;
    width: 40px;
    height: 40px;
    border-radius: 10px;

    transition: ease-in-out 200ms;
    background-color: var(--primary-3);
}
#map-dropper::-webkit-file-upload-button {
    visibility: hidden;
}
#map-dropper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url(../static/upload.png);
    background-repeat: no-repeat;
    background-position: center center;

    padding: 5px;
    user-select: none;
    cursor: pointer;

    box-sizing: border-box;
}
#map-dropper:hover {
    background-color: var(--primary-5);
}
#map-dropper:active {
    outline: 0;
}

#choose-diff {
    /* width: 80px; */
    height: 40px;

    background-color: var(--primary-3);

    font-family: Torus;
    font-weight: 500;
    color: white;

    border-radius: 10px;
    transition: ease-in-out 200ms;

    padding-inline: 20px;
}

#choose-diff:hover {
    filter: none;
    background-color: var(--primary-5);
}

#choose-diff:disabled {
    opacity: 0.5;
}

.contentWrapper {
    position: relative;
    width: 100%;
    flex: 1;

    /* gap: 20px; */

    display: flex;

    /* transition: cubic-bezier(0, 0.4, 0, 1) 200ms; */
}

#playerWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    transition: cubic-bezier(0, 0.4, 0, 1) 200ms;
}

.contentWrapper:has(.slideOutAnim) #playerWrapper {
    width: calc(100% - 420px);
}

#playerContainer {
    position: relative;
    /* margin: 20px; */
    /* aspect-ratio: 16 / 9; */
    width: 100%;
    /* height: 100%; */
    flex: 1;
    /* width: 1366px; */
    /* width: 1600px; */
    /* width: 1920px; */
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
    transition: cubic-bezier(0, 0.4, 0, 1) 200ms;
    /* z-index: 1; */
}

canvas {
    position: absolute;
    /* inset: 0 0 0 0; */
    /* margin: auto; */
    /* height: 100%; */
    /* transform: scaleY(-1); */
    /* z-index: 0; */
    /* background-color: rgba(255, 255, 255, 0.1); */
    transition: cubic-bezier(0, 0.4, 0, 1) 200ms;
    transform-origin: top left;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0 0 0 /0.8);

    border-radius: 20px 20px 0 0;
    transition: ease-in-out 300ms;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 20px 20px 0 0;
    object-fit: cover;

    /* transition: ease-in-out 200ms; */
    /* transition: cubic-bezier(0, 0.4, 0, 1) 500ms; */
}

#metadata {
    position: absolute;
    /* width: 100%; */
    font-size: 1rem;
    margin: 30px;

    display: flex;
    flex-direction: column;
}

#metadata:hover {
    color:rgb(255, 187, 0);
    transition: ease-out 100ms;
}

#artistTitle {
    /* width: 100%; */
    font-size: 1.2rem;
    font-weight: 600;
}

#versionCreator {
    /* width: 100%; */
    font-size: 1em;
    font-weight: 400;
}

#versionCreator span {
    font-weight: 600;
}

.stats {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--primary-3);
    padding: 10px;
    border-radius: 30px;

    font-size: 0.7rem;
    font-weight: 300;

    /* transition: cubic-bezier(0, 0.4, 0, 1) 500ms; */
}

.stats span {
    font-weight: 500;
}

.stat {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 0 10px;
}

.SRContainer span {
    padding: 5px 15px;
    background-color: var(--text-1);
    color: black;
    border-radius: 100px;
}

.thePlayer {
    position: absolute;
    bottom: 60px;
    left: 0;

    /* width: 200px; */
    margin: 20px;

    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;

    padding: 10px;
    border-radius: 10px;
    overflow: hidden;

    display: none;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blackCover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.5;
}

.thePlayer img {
    position: relative;
    width: 40px;
    height: 40px;

    border-radius: 10px;
}

.playerInfo {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.modsList {
    position: relative;
    display: flex;
    flex-shrink: 0;
}

.modWrapper {
    width: 20px;
    overflow: visible;

    display: flex;
    align-items: center;
}

.modWrapper:last-child {
    width: unset;
}

.thePlayer .label {
    position: relative;
    font-weight: 300;
    font-size: 12px;
    text-shadow: 0 2px 2px black;
    line-height: 0.7em;
}

.playerName {
    position: relative;
    font-weight: 500;
    text-shadow: 0 2px 2px black;
}

#playerController {
    box-sizing: border-box;
    position: relative;
    height: 60px;

    /* padding: 20px; */

    background-color: var(--primary-3);
    border-radius: 0 0 20px 20px;

    display: flex;
    justify-content: space-between;
    gap: 0px;

    overflow: hidden;
}

@keyframes popup {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: unset;
        opacity: 1;
    }
}

@keyframes popout {
    0% {
        display: flex;
        transform: unset;
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.seekTo {
    position: absolute;
    bottom: 60px;
    left: 0;

    border: none;

    background-color: var(--primary-5);
    color: white;

    border-radius: 10px;

    width: 300px;

    /* display: flex; */
    flex-direction: column;
    gap: 10px;

    margin: 10px;
    transform-origin: bottom left;

    box-shadow: 0 5px 10px 0 rgb(0 0 0 /0.5);
}

.popupAnim {
    animation: popup cubic-bezier(0.34, 1.56, 0.64, 1) 200ms;
    display: flex;
}

.popoutAnim {
    animation: popout ease-in 100ms;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
}

.rowLabel {
    width: 100px;
    font-size: 0.8rem;
}

.row input[type="text"] {
    flex: 1;
    appearance: none;
    box-sizing: border-box;

    /* height: 40px; */

    padding: 10px;
    /* margin: 10px 0; */

    font-family: Torus;
    color: white;
    font-size: 0.8em;

    border: none;
    background-color: rgba(0 0 0 / 0.5);
    border-radius: 5px;
}

.row input[type="text"]:focus {
    outline: solid 2px rgb(255, 187, 0);
}

#previewURL {
    user-select: none;
    cursor: pointer;
}

#previewURL:hover {
    background-color: var(--primary-3);
}

#timeContainer {
    position: relative;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    font-size: 1rem;
    background-color: var(--primary-5);

    cursor: pointer;
}

#timeContainer:hover {
    filter: brightness(1.2);
}

.digit {
    width: 0.55rem;
    text-align: center;
}

#timeContainer span {
    pointer-events: none;
    user-select: none;
    cursor: pointer;
}

.buttonsContainer {
    display: flex;
    justify-content: center;

    background-color: var(--primary-2);
}

#playButton {
    /* position: absolute; */

    /* bottom: 20px; */
    /* left: 20px; */

    width: 20px;

    padding: 0;
    margin: 20px 20px;

    background-image: url(../static/play.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#prevButton {
    width: 20px;

    padding: 0;
    margin: 20px 20px;

    background-image: url(../static/prev.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#nextButton {
    width: 20px;

    padding: 0;
    margin: 20px 20px;

    background-image: url(../static/next.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#playerController input[type="range"] {
    /* position: absolute; */
    /* bottom: 20px; */
    /* right: 20px; */
    margin: 0;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

.timingContainer {
    min-width: 150px;

    display: flex;
    gap: 10px;

    justify-content: center;
    align-items: center;
    padding: 0 20px;

    background-color: var(--primary-4);

    user-select: none;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        background-color: var(--primary-5);
    }

    100% {
        background-color: var(--primary-4);
    }
}

.timingContainer.kiai {
    animation: pulse ease-in-out 500ms infinite;
}

.timingContainer:hover {
    background-color: var(--primary-5);
}

.SV {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 0.8rem;
    font-weight: 400;
}

.multiplier {
    background-color: #89f0a3;
    padding: 2px 10px;
    color: var(--primary-1);
    border-radius: 20px;
    font-weight: 500;
}

.infoButton {
    height: 100%;
    width: 100px;
    padding: 10px;

    background-color: var(--primary-3);
    border-radius: 0;

    font-size: 1rem;
}

.infoButton:hover {
    filter: none;
    background-color: var(--primary-4);
}

.progressBarContainer {
    position: relative;
    flex: 1;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-1);
}

.timingPointsContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;

    padding: 0 20px;
}

.timingWrapper {
    position: relative;

    width: 100%;
    height: 100%;
}

.redLine,
.greenLine {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 1px;
    height: 50%;

    opacity: 80%;

    margin-top: auto;
    margin-bottom: auto;
}

.redLine {
    left: 10px;
    background-color: #e34653;
}

.greenLine {
    left: 30px;
    background-color: #1bcc20;
}

.timingPointsContainer img {
    width: 100%;
    height: 100%;

    padding: 0 20px;
}

#progress {
    position: relative;
    width: 100%;
}

#volumeSlider {
    width: 50%;
    max-width: 200px;
    padding-right: 20px;
}

#playerController input[type="range"]::-webkit-slider-runnable-track {
    background: var(--accent-1);
    height: 4px;

    margin: 20px 0;
    border-radius: 20px;
}

#playerController input[type="range"]::-webkit-slider-thumb {
    appearance: none;

    width: 40px;
    height: 10px;

    background: var(--primary-2);
    border-radius: 20px;

    margin-top: -3px;

    transition: cubic-bezier(0.03, 0.16, 0.29, 1.45) 150ms;
    transform-origin: center;

    outline: solid 3px var(--accent-1);
}

#playerController input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 10px 0px var(--accent-1);
    filter: brightness(2);
}

#playerController input[type="range"]::-webkit-slider-thumb:active {
    background: var(--accent-1);
    width: 50px;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: ease-in-out 50ms;
}

button:hover {
    filter: drop-shadow(0 0 2px white);
}

@keyframes spin {
    0% {
        stroke-dashoffset: 200;
        transform: scale(1, 1);
    }
    50% {
        stroke-dashoffset: 0;
        transform: scale(1, 1);
    }
    50.0001% {
        transform: scale(1, -1) translateY(-90px);
    }
    99.9999% {
        stroke-dashoffset: 200;
        transform: scale(1, -1) translateY(-90px);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes osuSpinnerKurwa {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0 / 0.5);
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    opacity: 0;
}

.difficultySelector {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0 / 0.5);
    /* border-radius: 20px; */
    display: none;
}

.selectorWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: relative;
    /* inset: 0 0 0 0; */
    /* margin: auto; */
    width: 500px;
    max-width: 100%;
    min-height: 0;
    max-height: 60%;
    padding: 20px;
    background-color: var(--primary-2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instruction {
    width: 100%;
    font-size: 1rem;
    text-align: left;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instruction button:disabled {
    opacity: 0.2;
}

.instruction button:disabled:hover {
    filter: none;
}

.listWrapper {
    position: relative;
    width: 100%;
    /* height: 300px; */
    /* min-height: min-content; */
    flex: 1;
    overflow: auto;
}

.difficultyList {
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.diff {
    position: relative;
    width: 100%;

    padding: 20px;

    background-color: var(--primary-3);
    border-radius: 10px;

    box-sizing: border-box;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.icon {
    position: relative;
    width: 30px;
    height: 30px;

    background: white;
    border-radius: 50%;
}

.colorRing {
    position: absolute;
    content: "";
    inset: 0 0 0 0;
    margin: auto;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: solid 4px black;
}

.infoContainer {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.diff:hover {
    background-color: var(--primary-1);
}

.diffName {
    font-size: 1rem;
}

.starRating {
    font-size: 0.8rem;
    font-weight: 300;
}

.loading circle {
    fill: none;
    stroke: white;
    stroke-width: 10px;
    stroke-dasharray: 200;
    stroke-dashoffset: 150;
    stroke-linecap: round;

    animation: spin 2s infinite;
}

.loading svg {
    display: block;
    animation: linear osuSpinnerKurwa 2s infinite;
}

#block {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: ease-in-out 200ms;
}

#settingsPanel {
    position: absolute;
    top: 0;
    left: -600px;

    max-width: 90vw;
    width: 600px;
    height: 100dvh;

    background-color: var(--primary-2);

    transition: cubic-bezier(0, 0.4, 0, 1) 200ms;
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow: overlay;
}

.section {
    position: relative;
    box-sizing: border-box;
    width: 100%;

    padding: 40px;
    background-color: var(--primary-4);
    font-weight: 400;
}

.header {
    font-size: 3em;
    font-weight: 600;
}

.description {
    font-size: 1em;
}

.title {
    font-size: 2em;
    font-weight: 600;
}

.list {
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list.skin {
    gap: 20px;
}

.selection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.slider {
    flex-wrap: wrap;
}

.slider input {
    /* position: absolute; */
    /* bottom: 20px; */
    /* right: 20px; */

    margin: 0;
    width: 100%;

    /* padding-right: 20px; */

    appearance: none;
    background: transparent;
    cursor: pointer;
}

.slider input::-webkit-slider-runnable-track {
    background: var(--accent-1);
    height: 4px;

    margin: 20px 0;
    border-radius: 20px;
}

.slider input::-webkit-slider-thumb {
    appearance: none;

    width: 40px;
    height: 10px;

    background: var(--primary-4);
    border-radius: 20px;

    margin-top: -3px;

    transition: cubic-bezier(0.03, 0.16, 0.29, 1.45) 150ms;
    transform-origin: center;

    outline: solid 3px var(--accent-1);
}

.slider input::-webkit-slider-thumb:hover {
    box-shadow: 0 0 10px 0px var(--accent-1);
    filter: brightness(2);
}

.slider input::-webkit-slider-thumb:active {
    background: var(--accent-1);
    width: 50px;
}

.val {
    font-weight: 600;
}

.note {
    position: absolute;
    top: -2.5px;
    left: 0;
    right: 0;

    width: max-content;

    background-color: var(--primary-2);
    padding: 5px 15px;
    border-radius: 20px;

    font-size: 0.8em;
    font-weight: 900;
    text-align: center;
    font-family: monospace;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
}

.sign {
    aspect-ratio: 1/1;
    height: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

label {
    display: flex;
    align-items: center;
    align-content: center;
}

input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 10px;

    outline: solid 3px var(--accent-1);
    border-radius: 25px;

    transition: cubic-bezier(0.03, 0.16, 0.29, 1.45) 100ms;
}

input[type="checkbox"]:hover {
    box-shadow: 0 0 5px 2px var(--accent-1);
    filter: brightness(2);
}

input[type="checkbox"]:checked {
    width: 50px;
    background-color: var(--accent-1);
}

.selection:has(input[type="checkbox"]:disabled) {
    opacity: 0.2;
}

input[type="checkbox"]:disabled:hover {
    box-shadow: unset;
    filter: unset;
}

.list input[type="text"] {
    appearance: none;
    box-sizing: border-box;

    width: 60%;
    /* height: 40px; */

    padding: 10px 10px;
    /* margin: 10px 0; */

    font-family: Torus;
    color: white;
    font-size: 1em;

    border: none;
    background-color: rgba(0 0 0 / 0.5);
    border-radius: 5px;

    /* transition: ease-in-out 100ms; */
}

.list input[type="text"]:focus {
    outline: solid 3px rgb(255, 187, 0);
}

.radioSel {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 0;
    opacity: 0.5;
    font-weight: 400;
    transition: ease-in-out 100ms;
}

.radioSel label {
    flex: 1;
}

.radioSel input[type="radio"] {
    position: relative;
    width: 20px;
    height: 20px;
    appearance: none;

    border: solid 2px white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 100ms;
}

.radioSel:has(input[type="radio"]:hover) {
    opacity: 1;
}

.radioSel input[type="radio"]:checked {
    border: solid 2px var(--accent-1);
}

.radioSel input[type="radio"]::before {
    content: "";
    width: 0px;
    height: 0px;

    border-radius: 50%;
    background-color: var(--accent-1);
    transition: ease-in-out 100ms;
}

.radioSel input[type="radio"]:checked::before {
    width: 10px;
    height: 10px;
}

.radioSel:has(input[type="radio"]:checked) {
    opacity: 1;
    font-weight: 600;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

.horizontalList {
    width: 100%;
    padding-top: 20px;

    display: flex;
    gap: 10px;
}

.horizontalList a {
    padding: 10px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    background-color: var(--primary-3);
    border-radius: 10px;

    transition: ease-in-out 100ms;
}

.horizontalList a:hover {
    background-color: var(--primary-5);
}

.horizontalList img {
    width: 20px;
    height: 20px;
}

.horizontalList .linkContent {
    font-weight: 500;
    text-align: center;
}

.skinSelector {
    border: none;
    outline: none;

    border-radius: 10px;

    padding: 20px;
    width: 100%;

    font-family: Torus;
    color: white;
    text-align: left;
    font-size: 0.8rem;

    background-color: var(--primary-2);
}

.skinSelector:hover {
    filter: none;
    background-color: var(--primary-5);
}

#skinDropdown {
    position: absolute;
    top: 100%;
    margin: unset;
    margin-top: 10px;

    width: 100%;
    border: none;
    padding: 10px;

    border-radius: 10px;

    background-color: var(--primary-2);
    opacity: 100%;

    color: white;
    font-size: 0rem;

    z-index: 1;

    flex-direction: column;
}

.skinSelection {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skinName {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    user-select: none;

    font-family: Torus;
    color: white;
    text-align: left;
    font-size: 0.8rem;
}

.skinName:hover {
    background-color: var(--primary-3);
    filter: none;
}

.deleteButton {
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    width: 18px;
    height: 18px;
}

.deleteButton:hover {
    filter: none;
    opacity: 1;
}

* {
    box-sizing: border-box;
}

@keyframes slideUp {
    0% {
        display: flex;
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: unset;
    }
}

@keyframes slideDown {
    0% {
        display: flex;
        opacity: 1;
        transform: unset;
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

.notiContainer {
    position: absolute;
    width: 100%;

    bottom: 120px;
}

.noti {
    position: absolute;
    inset: 0;
    margin: auto;

    background-color: var(--primary-1);
    border: none;

    color: white;

    box-shadow: 0 5px 10px 0 rgb(0 0 0 /0.5);

    border-radius: 20px;

    /* display: flex; */
    align-items: center;
    gap: 20px;

    font-weight: 400;
}

.animationIn {
    display: flex;
    animation: slideUp ease-in-out 200ms;
}

.animationOut {
    animation: slideDown ease-in-out 200ms;
    display: none;
}

.notiDismiss {
    height: 24px;
}

.notiDismiss:focus {
    border: none;
    outline: none;
}
