@font-face {
    font-family: Torus;
    font-weight: 600;
    src: url(../fonts/TorusBold.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 700;
    src: url(../fonts/TorusHeavy.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 500;
    src: url(../fonts/TorusSemiBold.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 400;
    src: url(../fonts/TorusRegular.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 300;
    src: url(../fonts/TorusLight.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 200;
    src: url(../fonts/TorusThin.otf);
}

:root {
    --primary-1: #171a1f;
    --primary-2: #2e3440;
    --primary-3: #3b4252;
    --primary-4: #434c5e;
    --primary-5: #4c566a;
    --accent-1: #88c0d0;
    --text-1: #d8dee9;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    overflow: hidden;
    /* background-image: url(../higuchimadoka.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* flex-wrap: wrap; */
    background-color: var(--primary-2);
    font-family: Torus;
    font-weight: 500;
    color: white;
    overflow-y: overlay;
    overflow-x: hidden;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#main {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    /* transform: scaleY(-1);   */

    background-color: rgb(0 0 0 /0.5);
    /* z-index: -1; */

    backdrop-filter: blur(5px);
}
#main img {
    display: none;
}

#inputContainer {
    position: relative;

    margin-bottom: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    box-sizing: border-box;
}

.legacyPart {
    position: relative;
    flex: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    box-sizing: border-box;
}

#inputWrapper {
    position: relative;
    /* width: 300px; */
    flex: 1;
    height: 40px;
}

#inputContainer input[type="text"] {
    appearance: none;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    padding: 20px;

    font-family: Torus;
    color: white;

    border: none;
    background-color: rgba(0 0 0 /0.5);
    border-radius: 10px;
    outline: solid 2px var(--accent-1);
}

#inputWrapper::before {
    content: "enter beatmap id or url (not beatmapset)";
    position: absolute;

    left: 10px;

    font-weight: 500;
    font-size: 0.7rem;

    /* height: 10px; */
    color: var(--text-1);

    padding: 2px 10px;

    transition: ease-in-out 200ms;
    pointer-events: none;

    border-radius: 5px;
}

#inputWrapper:has(input[type="text"]:placeholder-shown)::before {
    top: 12px;
    font-size: 0.7rem;
}

#inputWrapper:has(input[type="text"]:not(:placeholder-shown))::before,
#inputWrapper:has(input[type="text"]:focus)::before {
    top: -10px;
    font-size: 0.6rem;
    background-color: var(--primary-1);

    /* outline: solid 2px var(--accent-1); */
}

#inputContainer input[type="text"]:focus {
    outline: solid 3px var(--accent-1);
}

#inputContainer button:nth-child(3) {
    width: 80px;
    height: 40px;

    background-color: var(--primary-3);

    font-family: Torus;
    font-weight: 500;
    color: white;

    border-radius: 10px;
    transition: ease-in-out 200ms;
}

#inputContainer button:nth-child(3):hover {
    filter: none;
    background-color: var(--primary-5);
}

#settingsButton {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: auto;

    background-image: url(../static/settings.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;

    transition: ease-in-out 50ms;
}

svg {
    display: none;
}

.utilRow {
    display: flex;
    gap: 10px;
}

#map-dropper {
    position: relative;
    color: transparent;
    aspect-ratio: 1 / 1;
    height: 40px;
    border-radius: 10px;

    transition: ease-in-out 200ms;
    background-color: var(--primary-3);
}
#map-dropper::-webkit-file-upload-button {
    visibility: hidden;
}
#map-dropper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url(../static/upload.png);
    background-repeat: no-repeat;
    background-position: center center;

    padding: 5px;
    -webkit-user-select: none;
    cursor: pointer;

    box-sizing: border-box;
}
#map-dropper:hover {
    background-color: var(--primary-5);
}
#map-dropper:active {
    outline: 0;
}

#choose-diff {
    /* width: 80px; */
    height: 40px;

    background-color: var(--primary-3);

    font-family: Torus;
    font-weight: 500;
    color: white;

    border-radius: 10px;
    transition: ease-in-out 200ms;

    padding-inline: 20px;
}

#choose-diff:hover {
    filter: none;
    background-color: var(--primary-5);
}

#choose-diff:disabled {
    opacity: 0.5;
}

#playerWrapper {
    position: relative;
    width: 100%;
    /* height: 100%; */
    flex: 1;

    display: flex;
    flex-direction: column;
}

#playerContainer {
    position: relative;
    /* margin: 20px; */
    /* aspect-ratio: 16 / 9; */
    width: 100%;
    /* height: 100%; */
    flex: 1;
    /* width: 1366px; */
    /* width: 1600px; */
    /* width: 1920px; */
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
    transition: ease-in-out 300ms;
    /* z-index: 1; */
}

canvas {
    position: absolute;
    /* inset: 0 0 0 0; */
    /* margin: auto; */
    /* height: 100%; */
    /* transform: scaleY(-1); */
    /* z-index: 0; */
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* transition: ease-in-out 200ms; */
    transform-origin: top left;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(0 0 0 /0.8);

    border-radius: 20px 20px 0 0;
    transition: ease-in-out 500ms;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
}

#metadata {
    position: absolute;
    /* width: 100%; */
    font-size: 1rem;
    padding: 30px;

    display: flex;
    flex-direction: column;
}

#artistTitle {
    /* width: 100%; */
    font-size: 1.5em;
    font-weight: 600;
}

#versionCreator {
    /* width: 100%; */
    font-size: 1em;
    font-weight: 400;
}

#versionCreator span {
    font-weight: 600;
}

.stats {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--primary-3);
    padding: 10px;
    border-radius: 30px;

    font-size: 14px;
    font-weight: 300;
}

.stats span {
    font-weight: 500;
}

.stat {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 0 10px;
}

.SRContainer span {
    padding: 5px 15px;
    background-color: var(--text-1);
    color: black;
    border-radius: 100px;
}

#playerController {
    box-sizing: border-box;
    position: relative;
    height: 60px;

    /* padding: 20px; */

    background-color: var(--primary-3);
    border-radius: 0 0 20px 20px;

    display: flex;
    justify-content: space-between;
    gap: 0px;

    overflow: hidden;
}

#timeContainer {
    position: relative;
    display: flex;

    padding: 10px 20px;
    align-items: center;

    font-size: 0.7em;

    background-color: var(--primary-5);
}

.digit {
    width: 0.7em;
    text-align: center;
}

#timeContainer span {
    pointer-events: none;
}

#playButton {
    /* position: absolute; */

    /* bottom: 20px; */
    /* left: 20px; */

    width: 60px;

    padding: 0;
    margin: 15px 15px;

    background-image: url(../static/play.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#prevButton {
    width: 60px;

    padding: 0;
    margin: 15px 15px;

    background-image: url(../static/prev.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#nextButton {
    width: 60px;

    padding: 0;
    margin: 15px 15px;

    background-image: url(../static/next.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#playerController input[type="range"] {
    /* position: absolute; */
    /* bottom: 20px; */
    /* right: 20px; */

    margin: 0;

    appearance: none;
    background: transparent;
    cursor: pointer;
}

#progress {
    width: 80%;
    padding-right: 20px;
}

#volumeSlider {
    width: 50%;
    max-width: 200px;
    padding-right: 20px;
}

#playerController input[type="range"]::-webkit-slider-runnable-track {
    background: var(--accent-1);
    height: 4px;

    margin: 20px 0;
    border-radius: 20px;
}

#playerController input[type="range"]::-webkit-slider-thumb {
    appearance: none;

    width: 40px;
    height: 10px;

    background: var(--primary-4);
    border-radius: 20px;

    margin-top: -3px;

    transition: cubic-bezier(0.03, 0.16, 0.29, 1.45) 150ms;
    transform-origin: center;

    outline: solid 3px var(--accent-1);
}

#playerController input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 10px 0px var(--accent-1);
    filter: brightness(2);
}

#playerController input[type="range"]::-webkit-slider-thumb:active {
    background: var(--accent-1);
    width: 50px;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: ease-in-out 50ms;
}

button:hover {
    filter: drop-shadow(0 0 2px white);
}

@keyframes spin {
    0% {
        stroke-dashoffset: 200;
        transform: scale(1, 1);
    }
    50% {
        stroke-dashoffset: 0;
        transform: scale(1, 1);
    }
    50.0001% {
        transform: scale(1, -1) translateY(-90px);
    }
    99.9999% {
        stroke-dashoffset: 200;
        transform: scale(1, -1) translateY(-90px);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes osuSpinnerKurwa {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0 / 0.5);
    /* border-radius: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    opacity: 0;
}

.difficultySelector {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0 / 0.5);
    /* border-radius: 20px; */
    display: none;
}

.selectorWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: relative;
    /* inset: 0 0 0 0; */
    /* margin: auto; */
    width: 500px;
    max-width: 100%;
    min-height: 0;
    max-height: 60%;
    padding: 20px;
    background-color: var(--primary-2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instruction {
    width: 100%;
    font-size: 24px;
    text-align: left;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instruction button:disabled {
    opacity: 0.2;
}

.instruction button:disabled:hover {
    filter: none;
}

.listWrapper {
    position: relative;
    width: 100%;
    /* height: 300px; */
    /* min-height: min-content; */
    flex: 1;
    overflow: auto;
}

.difficultyList {
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.diff {
    position: relative;
    width: 100%;

    padding: 20px;

    background-color: var(--primary-3);
    border-radius: 10px;

    box-sizing: border-box;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.icon {
    position: relative;
    width: 30px;
    height: 30px;

    background: white;
    border-radius: 50%;
}

.colorRing {
    position: absolute;
    content: "";
    inset: 0 0 0 0;
    margin: auto;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: solid 4px black;
}

.infoContainer {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.diff:hover {
    background-color: var(--primary-1);
}

.diffName {
    font-size: 18px;
}

.starRating {
    font-size: 12px;
    font-weight: 300;
}

.loading circle {
    fill: none;
    stroke: white;
    stroke-width: 10px;
    stroke-dasharray: 200;
    stroke-dashoffset: 150;
    stroke-linecap: round;

    animation: spin 2s infinite;
}

.loading svg {
    display: block;
    animation: linear osuSpinnerKurwa 2s infinite;
}

#block {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: ease-in-out 200ms;
}

#settingsPanel {
    position: absolute;
    top: 0;
    left: -600px;

    max-width: 90vw;
    width: 600px;
    height: 100vh;

    background-color: var(--primary-2);

    transition: cubic-bezier(0, 0.4, 0, 1) 200ms;
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow: overlay;
}

.section {
    position: relative;
    box-sizing: border-box;
    width: 100%;

    padding: 40px;
    background-color: var(--primary-4);
    font-weight: 400;
}

.header {
    font-size: 3em;
    font-weight: 600;
}

.description {
    font-size: 1em;
}

.title {
    font-size: 2em;
    font-weight: 600;
}

.list {
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.slider {
    flex-wrap: wrap;
}

.slider input {
    /* position: absolute; */
    /* bottom: 20px; */
    /* right: 20px; */

    margin: 0;
    width: 100%;

    /* padding-right: 20px; */

    appearance: none;
    background: transparent;
    cursor: pointer;
}

.slider input::-webkit-slider-runnable-track {
    background: var(--accent-1);
    height: 4px;

    margin: 20px 0;
    border-radius: 20px;
}

.slider input::-webkit-slider-thumb {
    appearance: none;

    width: 40px;
    height: 10px;

    background: var(--primary-4);
    border-radius: 20px;

    margin-top: -3px;

    transition: cubic-bezier(0.03, 0.16, 0.29, 1.45) 150ms;
    transform-origin: center;

    outline: solid 3px var(--accent-1);
}

.slider input::-webkit-slider-thumb:hover {
    box-shadow: 0 0 10px 0px var(--accent-1);
    filter: brightness(2);
}

.slider input::-webkit-slider-thumb:active {
    background: var(--accent-1);
    width: 50px;
}

.val {
    font-weight: 600;
}

.note {
    position: absolute;
    top: -2.5px;
    left: 0;
    right: 0;

    width: 300px;

    background-color: var(--primary-2);
    padding: 5px 15px;
    border-radius: 20px;

    font-size: 0.8em;
    font-weight: 900;
    text-align: center;
    font-family: monospace;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
}

.sign {
    aspect-ratio: 1/1;
    height: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

label {
    display: flex;
    align-items: center;
    align-content: center;
}

input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 10px;

    outline: solid 3px var(--accent-1);
    border-radius: 25px;

    transition: cubic-bezier(0.03, 0.16, 0.29, 1.45) 100ms;
}

input[type="checkbox"]:hover {
    box-shadow: 0 0 5px 2px var(--accent-1);
    filter: brightness(2);
}

input[type="checkbox"]:checked {
    width: 50px;
    background-color: var(--accent-1);
}

.list input[type="text"] {
    appearance: none;
    box-sizing: border-box;

    width: 60%;
    /* height: 40px; */

    padding: 10px 10px;
    /* margin: 10px 0; */

    font-family: Torus;
    color: white;
    font-size: 1em;

    border: none;
    background-color: rgba(0 0 0 / 0.5);
    border-radius: 5px;

    /* transition: ease-in-out 100ms; */
}

.list input[type="text"]:focus {
    outline: solid 3px rgb(255, 187, 0);
}

.radioSel {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 0;
    opacity: 0.5;
    font-weight: 400;
    transition: ease-in-out 100ms;
}

.radioSel label {
    flex: 1;
}

.radioSel input[type="radio"] {
    position: relative;
    width: 20px;
    height: 20px;
    appearance: none;

    border: solid 2px white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 100ms;
}

.radioSel:has(input[type="radio"]:hover) {
    opacity: 1;
}

.radioSel input[type="radio"]:checked {
    border: solid 2px var(--accent-1);
}

.radioSel input[type="radio"]::before {
    content: "";
    width: 0px;
    height: 0px;

    border-radius: 50%;
    background-color: var(--accent-1);
    transition: ease-in-out 100ms;
}

.radioSel input[type="radio"]:checked::before {
    width: 10px;
    height: 10px;
}

.radioSel:has(input[type="radio"]:checked) {
    opacity: 1;
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

@media screen and (max-aspect-ratio: 1 / 1) {
    body {
        width: 100dvw;
        height: 100dvh;
        padding: 0;
        margin: 0;
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        align-content: flex-start;
        overflow: hidden;
        gap: 0;
        /* background-size: 0; */
    }

    #main {
        /* background-color: transparent; */
        /* backdrop-filter: none; */
        overflow: hidden;
    }

    #inputContainer {
        width: 100%;
        padding: 20px;
        margin: 0;
        gap: 10px;

        flex-direction: column;
    }

    .legacyPart {
        width: 100%;
    }

    .utilRow {
        width: 100%;
    }

    #choose-diff {
        flex: 1;
    }

    #inputContainer input[type="text"] {
        /* background-color: rgb(0 0 0 /0.5); */
        border-radius: 5px;
    }

    #inputContainer button:nth-child(3) {
        background-color: var(--primary-3);
        border-radius: 5px;
    }

    #settingsButton {
        background-size: contain;
        height: 30px;
    }

    #playerWrapper {
        height: 100%;
    }

    #playerContainer {
        flex: 1;
        /* aspect-ratio: 16 / 9; */
        /* width: 100%; */
        height: 100%;
        border-radius: 0;
        /* margin-bottom: 120px; */
    }

    #overlay,
    #background {
        border-radius: 0;
    }

    .stats {
        position: relative;
        inset: unset;

        width: 100%;
        margin: 0;
        border-radius: 0;
        justify-content: center;
    }

    #metadata {
        position: relative;
        /* top: 100%; */

        width: 100%;
        /* height: 120px; */
        padding: 20px;

        background-color: var(--primary-2);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #artistTitle,
    #versionCreator {
        /* padding: 0 20px; */
    }

    #playerController {
        position: relative;
        width: 100%;
        height: auto;
        /* height: 100%; */
        /* bottom: 0; */
        border-radius: 0 0 0 0;

        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;

        background-color: rgba(0 0 0 / 0.5);
    }

    #settingsPanel {
        font-size: 3vw;
    }

    .section {
        padding: 30px;
    }

    #timeContainer {
        background-color: rgba(0 0 0 / 0.5);
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;

        justify-content: center;
    }

    #playButton,
    #prevButton,
    #nextButton {
        /* width: 100%; */
        height: 30px;
        margin: 0;

        padding: 0;
    }

    #playButton:focus {
        outline: none;
    }

    #playButton:hover {
        filter: none;
    }

    #progress {
        width: 100%;
        padding: 20px;
    }

    #volumeSlider {
        display: none;
    }

    #playerController input[type="range"]::-webkit-slider-runnable-track {
        background: var(--primary-5);
        height: 4px;

        margin: 10px;
        border-radius: 20px;
    }

    #playerController input[type="range"]::-webkit-slider-thumb {
        appearance: none;

        width: 10px;
        height: 10px;

        background: white;
        border-radius: 20px;

        margin-top: -3px;

        transition: cubic-bezier(0.03, 0.16, 0.29, 1.45) 100ms;
        transform-origin: center;
    }

    #playerController input[type="range"]::-webkit-slider-thumb:hover {
        box-shadow: 0 0 5px 0px white;
        filter: brightness(1.2);
    }
}

@media screen and (max-aspect-ratio: 9 / 16) {
    #inputContainer input::placeholder {
        font-size: 0.7rem;
    }

    #metadata {
        font-size: 3vw;
    }

    .stats {
        inset: unset;
        left: 0;
        right: 0;
        gap: 0;
        /* bottom: -160px; */
        justify-content: space-between;
        /* position: fixed; */
    }

    #playerContainer {
        /* flex: 0; */
        flex: unset;
        aspect-ratio: 4 / 3;
        height: auto;
        border-radius: 0;
        margin-bottom: 0px;
    }
}

@media screen and (min-aspect-ratio: 16 / 9) and (max-width: 915px) {
    body {
        padding: 0;
    }

    #inputContainer {
        padding: 10px;
        margin: 0;
        background-color: rgb(0 0 0 /0.5);
    }

    #settingsButton {
        margin-right: auto;
    }

    #inputContainer input[type="text"] {
        width: 100%;
        border-radius: 5px;

        /* background-color: rgb(0 0 0 /0.5); */
    }

    #inputContainer button:nth-child(3) {
        border-radius: 5px;
        background-color: rgb(0 0 0 /0.5);
    }

    #playerContainer {
        /* padding-top: 50px; */
        border-radius: 0;
    }

    #overlay {
        top: 0;
        /* padding-top: 50px; */
        border-radius: 0;
    }

    #metadata {
        top: 0;

        padding: 0 10px;

        height: 50px;
        font-size: 1vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .stats {
        font-size: 1vw;
    }

    #playerController {
        border-radius: 0;
        background-color: rgb(0 0 0 /0.5);
    }

    #timeContainer {
        background-color: rgb(0 0 0 /0.5);
    }

    #playerController button {
        margin: 12px 0;
    }

    #playerController button:hover {
        filter: none;
    }
}

/* @media screen and (max-width: 1024px) {
} */

@media screen and (min-width: 1024px) {
    #inputWrapper {
        width: 500px;
    }
}
