@font-face {
    font-family: Torus;
    font-weight: 600;
    src: url(../fonts/TorusBold.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 700;
    src: url(../fonts/TorusHeavy.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 500;
    src: url(../fonts/TorusSemiBold.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 400;
    src: url(../fonts/TorusRegular.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 300;
    src: url(../fonts/TorusLight.otf);
}
@font-face {
    font-family: Torus;
    font-weight: 200;
    src: url(../fonts/TorusThin.otf);
}

body {
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    overflow: hidden;
    /* background-image: url(../higuchimadoka.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-content: center;
    align-items: center;
    /* flex-wrap: wrap; */

    background-color: black;

    font-family: Torus;
    font-weight: 500;
    color: white;
}

#main {
    position: absolute;
    top: 0;

    width: 100vw;
    height: 100vh;

    /* transform: scaleY(-1);   */

    background-color: rgb(0 0 0 /0.8);
    /* z-index: -1; */

    backdrop-filter: blur(10px);
}

#cursorContainer {
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;

    width: 512px;
    height: 384px;

    transform: scaleY(-1);
    opacity: 0;

    display: none;
}

#cursor {
    position: absolute;
    top: -5px;
    left: -5px;

    width: 50px;
    height: 50px;

    background-color: yellow;
    border-radius: 25px;
    box-shadow: 0 0 5px 1px yellow;

    z-index: 9999999;
}

#cursor:after {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;

    width: 80%;
    height: 80%;

    background-color: white;
    border-radius: 80%;
}

#main img {
    display: none;
}

#playerContainer {
    position: absolute;
    margin: 20px;

    /* aspect-ratio: 16 / 9; */
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    /* width: 1366px; */
    /* width: 1600px; */
    /* width: 1920px; */

    border-radius: 20px;

    background-size: cover;
    background-position: center;

    overflow: hidden;

    transition: ease-in-out 300ms;
}

canvas {
    position: absolute;
    inset: 0 0 0 0;

    margin: auto;

    /* transform: scaleY(-1); */
    /* z-index: 0; */

    /* background-color: rgba(255, 255, 255, 0.1); */
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.7;
}

#settingsButton {
    position: absolute;
    top: 20px;
    left: 20px;

    width: 60px;
    height: 60px;

    background-image: url(../static/settings.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;

    transition: ease-in-out 50ms;
}

svg {
    display: none;
}

#playButton {
    position: absolute;

    bottom: 20px;
    left: 20px;

    width: 60px;
    height: 60px;

    background-image: url(../static/play.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: ease-in-out 50ms;
}

button:hover {
    background-color: rgb(255 255 255 / 0.2);
}

@keyframes spin {
    0% {
        stroke-dashoffset: 200;
        transform: scale(1, 1);
    }
    50% {
        stroke-dashoffset: 0;
        transform: scale(1, 1);
    }
    50.0001% {
        transform: scale(1, -1) translateY(-90px);
    }
    99.9999% {
        stroke-dashoffset: 200;
        transform: scale(1, -1) translateY(-90px);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes osuSpinnerKurwa {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading circle {
    fill: none;
    stroke: white;
    stroke-width: 10px;
    stroke-dasharray: 200;
    stroke-dashoffset: 150;
    stroke-linecap: round;

    animation: spin 2s infinite;
}

.loading svg {
    display: block;
    animation: linear osuSpinnerKurwa 2s infinite;
}

#settingsPanel {
    position: absolute;
    top: 0;
    left: -600px;
    width: 600px;
    height: 100vh;

    background-color: #18171c;

    transition: ease-in-out 200ms;
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section {
    position: relative;
    box-sizing: border-box;
    width: 100%;

    padding: 40px;
    background-color: #302e38;
    font-weight: 400;
}

#header {
    font-size: 3em;
}

#description {
    font-size: 1em;
}

#title {
    font-size: 2em;
}

.list {
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

input[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 10px;

    outline: solid 3px #8c66ff;
    border-radius: 25px;

    transition: cubic-bezier(.03,.16,.29,1.45) 100ms;
}

input[type="checkbox"]:hover {
    box-shadow: 0 0 5px 2px #8c66ff;
    filter: brightness(2);
}

input[type="checkbox"]:checked {
    width: 50px;
    background-color: #8c66ff;
}
